h1 {
  text-align: center;
}

p, li, h1, h2, h3, h4, h5, a {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: rgb(87, 113, 195);
}

body {
  background-color: rgb(32, 32, 32);
}
